iframe {
	float: left;
	margin-right: 30px
		
}

img {
	float: left;
	margin-right: 30px;
	width: 300px;
	length: 300px;
	
}
    
div.container {
	width 300%;
}
body {
	background-color: #3333FF;
}
nav {
    float: left;
    margin: 0 0 40px 10px;
    width: 160px;
    padding: 1em;
    font-size: 100%;
    background-color: ;
    max-width: 160px;
    border: 3px dashed white;
    border-radius: 3px;
    background-color: #99CCFF;
    color: white;
    length: 400px;
    margin-right: 20px;
    font-family: palatino;
}
header {
    margin: 0 0 40px 10px;
    text-shadow: 8px 6px #3333FF;
    background-color: #3333GG;
    padding: 1px;
    font-size: 300%;
    text-align: center;
    color: white;
    font-family: palatino;
    border: 12px dotted gray ;
    
}
article {
    margin-left: 200px;
    padding: 1em;
    overflow: hidden;
    max-width: 900px;
    border: 3px dashed gray;
    border-radius: 3px;
    background-color: #99CCFF;
    color: white;
    font-family: palatino;
    font-size: 150%;
    margin: auto;
}
footer { 
    font-size: 200%;
    margin: 50px 100px;
    text-align: center;
    color: white;
    font-family: palatino;
    border-top: 6px dashed gray;
    padding: 10px;
    
}
img {
	border: 6px solid: #1AFF00;

	

